<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Online Store test</title>
</head>

<body>
  <header class="header bg-dark navbar">
    <div class="container">
      <a href="#" class="logo navbar-brand">
        <img src="../assets/icons/icons8-shopping-mall-50.png" class="logo-image" />
        <h1 class="name">Online store</h1>
      </a>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search..." />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="shopping-card">
        <div class="total-sum">$ ${totalSum}</div>
        <div class="total-amount">${totaAmount}</div>
        <div class="shopping-card-icon">
          <img src="../assets/icons/icons8-shopping-cart-48.png" class="logo-image" />
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="product-details card " >
      <div class="product-wrapper">
        <h4 class="product-title card-header bg-primary">${card.title}</h4>
        <div class="product-data">
          <div class="product-photos">
            <div class="slides">
            </div>
            <div class="main-photo">
              <img src="card.images[0]" alt="main-photo">
            </div>
          </div>
          <div class="product-info">
            <div class="product-info__description">Category: ${card.description}</div>
            <div class="product-info__category">Category: ${card.category}</div>
            <div class="product-info__brand">Brand: ${card.brand}</div>
            <div class="product-info__discount">Discount: ${card.discountPercentage}</div>
            <div class="product-info__rating">Rating: ${card.rating}</div>
            <div class="product-info__stock">Stock: ${card.stock}</div>
          </div>
          <div class="add-to-card">
            <div class="product-price">${card.price}</div>
            <button class="btn btn-success">Add to cart</button>
            <button class="btn btn-success">Buy now</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <ul class="nav col-md-4 justify-content-start list-unstyled d-flex">
        <li class="ms-3">
          <a class="github text-warning" href="https://github.com/astap4" target="_blank">
            <i class="fab fa-lg fa-github"></i>
            <span>astap4</span>
          </a>
        </li>
        <li class="ms-3">
          <a class="github text-warning" href="https://github.com/siarheiliavontsyeu" target="_blank">
            <i class="fab fa-lg fa-github"></i>
            <span>siarheiliavontsyeu</span>
          </a>
        </li>
      </ul>
      <div class="col-md-4 d-flex align-items-center justify-content-end">
        <a class="rsschool" href="https://rs.school/js/" target="_blank">
          <img class="rsschool__img" src="https://rs.school/images/rs_school_js.svg" alt="school logo" />
        </a>
        <span class="mb-3 mb-md-0 text-muted px-2">© 2022</span>
      </div>
    </div>
  </footer>
</body>

</html>