<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Online Store test</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="#" class="logo">
          <img src="" class="logo-image">
          <h1 class="name">Online store</h1>
        </a>
        <form action="" class="search-form">
          <input type="search" placeholder="Search here..." id="search-box">
          <label for="" class=""></label>
          <div class="search-btn"></div>
        </form>
        <div class="shopping-card">
          <div class="total-sum">$0</div>
          <div class="total-amount">0</div>
          <div class="shopping-card-icon"></div>
        </div>
      </header>
      <main></main>
      <footer></footer>
      <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not
        super important.
      </div>
    </div>
  </body>
</html>
