.footer {
  padding-top: 10px;
}

.footer .github {
  margin-right: 10px;
  text-decoration: none;
}
.footer .rsschool {
  width: 85px;
  height: 38px;
  padding: 0 5px;
  background-color: #fff;
  display: block;
  margin-left: auto;
}
