.product-item {
    height: 180px;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 0.5rem;
}

.product-item:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.product-card {
    height: 100%;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
}

.product-wrapper {
    height: 100%;
}

.product-info {
    width: 70%;
    top: 0;
    font-size: 0.675rem;
    background-color: rgb(120, 123, 122);
    opacity: 65%;
    border-radius: 0.5rem;
}

.product-title {
    font-size: calc(0.6rem + 0.3vw);
    padding: 3% 1%;
    text-align: center;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    position: absolute;
    bottom: 2%;
    margin: 0 10%;
}

.btn-success,
.btn-info {
    padding: 2%;
}

